rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /schools/{schoolId} {
      allow read, create: if true;
    }

    match /debateState/{stateId} {
        allow read, write: if true;
    }
    
    match /judges/{judgeId} {
        allow read, write: if true;
    }
  }
}
